@model VstsDemoBuilder.Models.Project
@{
    ViewBag.Title = "Azure DevOps Demo Generator";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/content/assets/css/custom.min.css">
    <link href="~/assets/templategrouping/templategroup.custom.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
        }({
            instrumentationKey: "__AIKEY__"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '__GAKEY__', 'auto');
        ga('send', 'pageview');
    </script>
    <title>Create Project</title>

</head>
<body class="pb-3">
    <input type="hidden" id="hidnUID" />
    @if (!string.IsNullOrEmpty(Model.accessToken))
    {
        <input type="hidden" value="@Model.accessToken" id="hiddenAccessToken" />
    }
    @if (!string.IsNullOrEmpty(Model.selectedTemplateDescription))
    {
        <input type="hidden" value="@Model.selectedTemplateDescription" id="selectedTemplateDescription" />
    }
    @if (!string.IsNullOrEmpty(Model.selectedTemplateFolder))
    {
        <input type="hidden" value="@Model.selectedTemplateFolder" id="selectedTemplateFolder" />
    }
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <input type="hidden" value="@Model.Message" id="infoMessageTxt" />
    }
    @if (!string.IsNullOrEmpty(Model.SelectedTemplate))
    {
        <input type="hidden" value="@Model.SelectedTemplate" id="selectedTemplate" />
    }@if (!string.IsNullOrEmpty(Model.templateImage))
    {
        <input type="hidden" value="@Model.templateImage" id="selectedTemplateImage" />
    }
    <input type="hidden" value="@Model.ForkGitHubRepo" id="forkGitRepo" />
    <input type="hidden" id="hdnMessage" />
    <input type="hidden" id="hdnGToken" />
    <!--TEMPLATE GROUPING-->
    <div class="VSTemplateSelection p-3 d-none" aria-hidden="true">
        <div class="template-holder bg-white ">
            <div class="template-dialog-title text-primary p-3 text-center">
                <span>Choose a template</span>
                <div class="template-close">X</div>
            </div>
            <div class="template-group bg-primary d-flex align-items-center p-3">
                <ul class="nav nav-pills w-100 justify-content-center" role="tablist" id="modtemplateGroup"></ul>
            </div>
            <div class="template-body vstsScroll bg-light p-3">
                <div class="tab-content" id="pills-tabContent">
                </div>
            </div>
            <div class="template-footer p-3 bg-white text-right">
                <button class="btn btn-primary" id="selecttmplate">Select Template</button>
                <button class="btn btn-primary d-none" id="selecttmplateCommunity">Select Template</button>
                <div>
                    <span id="urlerror" style="color:red"></span>
                </div>
            </div>

        </div>
    </div>
    <!--/TEMPLATEgROUPING-->
    <!-- MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Copy Diagnostic Log</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="errorMail" style="text-align:justify;word-wrap: break-word;height: 150px;overflow: auto;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary" id="sendEmail">Send Email</button>*@
                </div>
            </div>
        </div>
    </div>
    <!-- /MODAL -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top no-border navbar-toggler" id="headbar">
        <a class="navbar-brand p-0 mr-auto" href="../Account/Verify">
            <img src="~/content/assets/images/VS_logo.png" alt="">
            <span class="navbar-brand-text ml-1">
                Azure DevOps Demo Generator
            </span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <img src="~/content/assets/images/VSTS-user-image.svg" alt="Azure DevOps Demo Generator">
                    @if (Session["User"] != null)
                    {
                        <span class="VSTS-username ml-1" style="font-size:16px">@Session["User"].ToString()</span>
                    }
                    <span class="sr-only">(current)</span>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../Account/SignOut">Sign out</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="jumbotron mb-0" style="padding-bottom: 25px; padding-top: 25px;">
        <div class="text-center text-white display-4 p-3" id="greeting" style="line-height: 1.2;">
            Create New Project
        </div>
        <div class="text-center display-4 p-3" id="greeting" style="line-height: 1.2;">
            <a href="../extractor/index" target="_blank" class="text-white" style="font-size: 18px; float: right;" id="buildYourTemplate">Build your template</a>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="col-sm-12" style="background-color:#ffaeae">
            <span style="color:#b71616">@ViewBag.ErrorMessage</span>
        </div>
    }

    <div class="container-fluid mt-3">
        <div class="row VSTS-mh-100">
            <!--
                  COL 1
                  Image and Feedback section
            -->
            <div class="col-md-3 order-3 order-md-1 VSTS-mh-100">
                <div class="d-flex flex-column VSTS-mh-100">
                    <img class="img-fluid mob_d" src="~/content/assets/images/VSTS-demoGen-image.png" alt="" style="max-width: 88%; opacity:0.3">
                    <div class="demo-generator-feedback VSTS-create-page-feedback mt-3 text-center text-sm-left">
                        <h6>Feedback&colon;</h6>
                        <p class="mb-0">
                            To provide feedback, you can email us
                            <a class="text-primary" href="https://github.com/microsoft/AzureDevOpsDemoGenerator/issues/new" target="_blank">here </a>.
                        <p>Like our tool? We would appreciate if you share feedback on social</p>

                        <p>
                            <script>function fbs_click() { u = "https://azuredevopsdemogenerator.azurewebsites.net/"; t = +Azure + DevOps + Demo + Generator & window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436'); return false; }</script>
                            <a href="http://www.facebook.com/sharer.php?u=https://azuredevopsdemogenerator.azurewebsites.net/&t=Azure+Devops+Demo+Generator" target="_blank"><img src="~/Images/facebook.png" style="width:20px;" /></a>&nbsp;&nbsp;
                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://azuredevopsdemogenerator.azurewebsites.net/&t=Azure+Devops+Demo+Generator" target="_blank"><img src="~/Images/linkedin.png" style="width:20px;" /></a>&nbsp;&nbsp;
                            <a href="https://twitter.com/intent/tweet?url=https://azuredevopsdemogenerator.azurewebsites.net/&amp;text=Azure+DevOps+Demo+Generator&amp;hashtags=azuredevopsdemogenerator" target="_blank"><img src="~/Images/twitter.png" style="width:20px;" /></a>&nbsp;&nbsp;
                        </p>
                    </div>
                </div>
            </div>
            <!--
                COL 2
                Create section
            -->
            <div class="col-md-6 order-1 order-md-2">
                <div style="border:1px solid #ccc; padding:15px;">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-lg-3 col-form-label" style="font-weight: 400;">New Project Name :</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(model => model.ProjectName, null, new { @class = "form-control rmverror", id = "txtProjectName", placeholder = "Project Name", maxlength = "64" })
                            <div class="alert alert-danger d-none" role="alert" id="txtProjectName_Error">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ddlAcccountName" class="col-lg-3 col-form-label" style="font-weight: 400;">Select Organization :</label>
                        <div class="col-lg-8">

                            @Html.DropDownListFor(model => model.accountName, new SelectList(Model.accountsForDropdown), "Select Organization", new { @class = "form-control rmverror", id = "ddlAcccountName", name = "accountName", style = "cursor:pointer" })
                            <div class="alert alert-danger d-none" role="alert" id="ddlAcccountName_Error">
                            </div>
                            <div style="color:red">
                                @ViewBag.AccDDError
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="">
                        <label for="Template" class="col-lg-3 col-form-label mt-1 " style="font-weight:400">Selected Template :</label>
                        <div class="col-lg-5  mb-3 mt-1">
                            <input type="text" class="form-control" id="ddlTemplates" disabled />
                            <input type="hidden" id="PrivateTemplateName" />
                            <input type="hidden" id="PrivateTemplatePath" />
                            <div class="alert alert-danger d-none" role="alert" id="ddlTemplates_Error">
                            </div>
                        </div>
                        <div class="template-invoke mb-3 mt-1 col-lg-3">
                            @if (Session["PrivateTemplateOriginalName"] == null)
                            {
                                <button type="button" class="btn btn-primary" id="templateselection" style="padding-left:5px; padding-right:5px; width: 100%">
                                    Choose template
                                </button>
                            }
                        </div>
                    </div>
                </div>

                <div style="border:1px solid #ccc; margin-top:15px;" id="gitHubCheckboxDiv">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="git_support">
                                <div for="Template" class="col-lg-12 col-sm-12 p-0">
                                    <p class="githubPng"><b>Azure DevOps Demo Generator now supports GitHub forking!</b></p>
                                    <p class="m-2">
                                        The selected template includes a GitHub repository. You can choose to fork it or use the existing
                                        repo. If you fork, all pipelines will be updated to point to the forked repo.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 float-left"></div>
                            <div class="col-lg-5  mb-3 mt-3 float-left" style="">
                                <div class="template-invoke mb-3 mt-1 inlinestyle">
                                    <input type="checkbox" id="gitHubCheckbox" name="gitHubCheckbox">
                                    <label for="gitHubCheckbox">Yes, I want to fork this repository</label>
                                </div>
                            </div>
                            <div class="template-invoke mb-3 mt-3 col-lg-3 float-left" id="gitHubAuthDiv">
                                <button type="button" class="btn githubIcon" id="githubAuth" style="padding-left:5px; padding-right:5px; width: 100%" disabled="">
                                    Authorize
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="projectParameters" style="display:none">
                </div>
                <!-- PROJECT PARAMETERS -->
                <!--EXTENSIONS -->
                <div id="InfoMessage" style="border-radius: 4px;box-shadow: 0px 5px 20px #f2f2f2;" class="border col-lg-12 d-block mt-4 p-3">

                </div>
                <div class="mt-4 mb-3 border p-3 d-none col-lg-12" id="lblextensionError" style="border-radius: 4px; box-shadow: 0px 5px 20px #f2f2f2;">
                    <div style="margin-bottom: 6px;" class="boldText"><strong>Verifying if all required extension(s) are installed and enabled</strong></div>
                    <div class="extensionError boldText">
                        <p style="display:none;" id="extensionError"></p>
                    </div>
                </div>
                <!--/EXTENSIONS -->
                <div class="col-lg-12">
                    <div class="form-group row" id="">
                        <div class="col-lg-3 float-left"></div>
                        <div class="col-lg-5  mb-3 mt-3 float-left" style=""></div>
                        <div class="col-lg-3  mb-3 mt-3 m-0">
                            <button class="btn btn-primary submitBtn btnUpdate " id="btnSubmit" style=" width: 100%;">
                                Create Project
                            </button>
                            @*<img src="~/Images/loading.gif" alt="loading" class="img-circle" id="imgLoading" style="display:none;" />*@
                        </div>
                    </div>
                </div>
                <div class="card mt-3 d-none col-lg-12" id="finalLink">
                    <div class="card-body" id="accountLink" style="color: green;font-weight: 300; padding-left:0px; padding-right:0px;">
                    </div>
                </div>
                <!-- PROGRESS BAR -->
                <div class="progress mt-3 d-none col-lg-12" id="dvProgress" style="padding-left:0px;">
                    <div class="progress-bar progress-bar-striped bg-primary" id="progressBar" role="progressbar" style="width: 0%; height: 15px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h6 class="text-muted d-none" id="textMuted">Your project is being created...</h6>

                <!-- PROGRESS BAR -->
                <div id="status-messages" class="border p-3 mt-3 col-lg-12" style="display:none; border-radius: 4px; box-shadow: 0px 5px 20px #f2f2f2;">
                </div>
            </div>
            <!--
               COL 3
               Notification section
            -->
            <div class="col-md-3 order-2 order-md-3">
                <!-- Description card -->
                <div class="card text-white mb-3 vstsScroll" id="lblDescription" style="max-height:250px;overflow-y:auto;">
                    <div class="card-header bg-primary ">About this Template</div>
                    <div class="card-body" style="background-color:white; color:black">
                        <div class="template-header" style="width:100%; float:left;">
                            <img class="templateImage" style="display: inline-block; float: left;" id="templatePreviewImage" src="">
                            <strong style="margin-left: 7px;text-align: left;float: right;display: inline-block;width: 83%;" id="templatePreviewName"></strong>
                        </div>
                        <p class="card-text" id="descContainer">
                        </p>
                    </div>
                </div>
                <div class="card text-white mb-3 vstsScroll" id="announcement" style="max-height:250px;overflow-y:auto;">
                    <div class="card-header bg-primary">What's new</div>
                    <div class="card-body" style="background-color:white; color:black">
                        <p>- New templates in Microsoft Learning platform</p>
                    </div>
                </div>
                <div class="card bg-primary mb-3 mt-auto" id="errorNotify" style="display:none;">
                    <div class="card-header" style="color:white">Sorry….We ran into an issue!</div>
                    <div class="card-body" style="background-color:white">
                        <p class="card-text" id="errorDescription">
                        </p>
                    </div>
                    <div class="card-footer" style="background-color:white">
                        <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#exampleModal">
                            View Diagnostics
                        </button>
                    </div>
                </div>
                <!-- /Description card -->
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/Scripts/AppScripts/create.js"></script>
    <script src="~/Scripts/AppScripts/FileUpload.js"></script>
    <script src="~/Scripts/AppScripts/GitHubAuth.js"></script>
    <script src="~/Scripts/tooltip.js"></script>
</body>
</html>
